# Ignore node_modules
node_modules/

# Ignore log files
*.log

# Ignore local environment files
.env

# Ignore Electron build output directories (if using electron-builder or similar)
dist/
build/

# Ignore macOS system files
.DS_Store

# Ignore npm-debug files
npm-debug.log*
